.titulo{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #00eaff;
}

.layoutPrincipal{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    user-select: none;
}

/* Primeiro Bloco do Inventario */
.divPreviewEstilo{
    width: 23%;
    height: 30rem;
    margin-left: 3rem;
    background-color: #FFF;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPreview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
    margin: 1rem 0rem;
}

.imgAvatar{
    width: 8rem;
    border-radius: 1rem;
}

.divEspecificacao{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 1rem 0.5rem;
    font-size: 0.8rem;
}

.cardEspecificacao{
    background-color: #AB0E0E;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

/* Segundo Bloco do Inventario */
.divTodosItens{
    width: 70%;
    min-height: 40rem;
    height: auto;
    padding: 1rem 0;
    background-color: #FFF;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.divPreviewMini{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-radius: 1rem;
    width: 15rem;
    height: 17rem;
    font-size: 0.8rem;
    background-color: #D9D9D9;
}

.fundoBordaAvatar{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}
.imgAvatarMini{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.btnEquipar{
    background-color: #366091;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border: 0.125rem solid;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    transition: 0.4s ease;
}
.btnEquipar:hover{
    background-color: #64B5F6;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(100, 181, 246, 0.8);
}