/* Fundo escurecido por cima do site */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* escurece */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* garante que fica por cima */
}

/* Caixa branca arredondada */
.modalBox {
  background: #fff;
  padding: 2rem;
  border-radius: 25px;
  width: 350px;
  text-align: center;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}
/* Caixa branca arredondada Escola */
.modalBoxEscola {
  display: grid;
  background: #fff;
  padding: 2rem;
  border-radius: 25px;
  width: 600px;
  text-align: center;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.cadastroForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cadastroEscola {
  display: flex;
  flex-direction: column;
}
/* Botão de fechar */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Logo */
.loginLogo {
  width: 6.5rem;
  height: 6.5rem;
  margin: 10px 0 20px;
  border-radius: 0.8rem;
}

/* Inputs */
.modalBox input {
  width: 94%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
/* Inputs Escola */
.modalBoxEscola input {
  width: 94%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

/* Titulo */
.modalTitle {
  font-size: 1.5rem;
  color: #295384;
}
/*Titulo da Escola*/
.modalTitleEscola {
  font-size:1.8em;
  color: #295384;
  padding:  0 0 15px 0;
}

/* Labels */
.modalBox label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: #295384;
}
/*Label da Escola*/
.modalBoxEscola label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 5px;
  color: #295384;
}

/* Link de cadastro */
.registerLink {
  font-size: 0.85rem;
  margin: 10px 0;
}

.registerLink a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

/* Botão de login */
.loginBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4da6ff;
  border: none;
  border-radius: 12px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.loginBtn:hover {
  background: #1a8cff;
}

/* Animação suave */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* Caixa branca arredondada Aluno */
.modalboxAluno{
  background: #fff;
  padding: 2rem;
  border-radius: 25px;
  width: 350px;
  text-align: center;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}
/*Estilo dos campos de cadastro*/
.cadastroAluno {
  display: flex;
  flex-direction: column;
}
/* Labels */
.modalboxAluno label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: #295384;
}
/* Inputs */
.modalboxAluno input {
  width: 94%;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.cadastroFormAluno{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}