.divCards{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divTitulo{
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;
    font-size: 4.5rem;
    font-weight: 900;
}

.logoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoItem span {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
}